<h1>All Products</h1>

<div class="row">
 <%= form_tag("/products", method: "get", role: "search", class: "navbar-form navbar-left") do %>
   <div class="form-group">
     <%= text_field_tag(:search, nil, placeholder: "Wookiee Love", class: "form-control input-sm") %>
   </div>
   <%= submit_tag("Search", class: "btn btn-default btn-sm") %>
 <% end %>
<br><br>
</div>
<div class="row">

  <% @products.each do |product| %>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= product.name %></h3>
        </div>
        <div class="panel-body">
         
        </div>
        <div class="panel-footer">
          <%= link_to content_tag(:i, nil, class: "fa fa-eye"), product %>
          <%= link_to content_tag(:i, nil, class: "fa fa-pencil"), edit_product_path(product) %>
          <%= link_to content_tag(:i, nil, class: "fa fa-trash-o"), product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div> <!-- panel -->
    </div> <!-- col-md-3 -->
  <% end %>

</div> <!-- row -->
<br>

<%= link_to 'New Dog', new_product_path, class: "btn btn-info" %>